<nav class="navbar navbar-default bg-dark" style='background-color: #9aaebd'>
    <div class="nav-bar-items">
      <div class="navbar-header nav-title">
        <a class="navbar-brand" style="color:#252525; font-size:16px" href="#"><span style="color:white">RECURITMENT</span> PORTAL</a>
      </div>
      <div class="file-upload">
          <button class="btn btn-secondary" ng-click="fileUpload()"><i class="fa fa-file"></i> File Upload</button>
      </div>
    </div>
</nav>

<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>