<div>
    <div class="options-sec">
        <div class="sort-sec">
            <label for="sort"> Sort By </label>
            <select name="" id="" ng-model="sort" ng-change="applySort()">
                <option disabled selected value> -- select an option -- </option>
                <option value="positionApplied">Position Applied</option>
                <option value="yearsOfExperience">Years of Experience</option>
                <option value="dateOfApplication">Date of Application</option>
            </select>
        </div>
        <div class="filter-sec">
            <select  name="" id="" ng-model="filterOption">
                <option disabled selected value> -- select an option -- </option>
                <option value="name">Name</option>
                <option value="statusOfApplication">Status of Application</option>
                <option value="positionApplied">Position Applied</option>
            </select>
            <input ng-show="filterOption != 'statusOfApplication'" type="text" ng-model="filterValue">
            <select ng-show="filterOption == 'statusOfApplication'" name="" id="" ng-model="filterValue">
                <option value="Approved">Approved</option>
                <option value="Rejected">Rejected</option>
                <option value="Waiting">Waiting</option>
            </select>
            <button class="btn btn-outline-secondary" ng-click="applyFilter()"> <i class="fa fa-filter"></i> Apply Filter</button>
        </div>
    </div>
    <custom-data-table data-batch="batch" data-sort="sort" data-filter="filter" data-candidates="renderCandidates"></custom-data-table>
    <button class="btn btn-primary" ng-click=save()><i class="fa fa-save"></i> Save</button>
</div>